/* Globale Styles */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {

    width: 100%;
    /* background: url('images/body.jpg') no-repeat center center/cover;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; */

}

p {
    font-size: 1.6rem;
    color: var(--grayish-violet);
    line-height: 1.6;
}

section {
    padding: 2rem 0 0 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 21.5rem;
}

:root {
    --cyan: #0678b4;
    --text-color: #0ba7fc;
    --gray: hsl(0, 0%, 75%);
    --dark-grey: #EFF1F7;
    --grayish-violet: hsl(260, 7%, 59%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}


/************** HEADER SECTION ***************/
/************** HEADER SECTION ***************/
/************** HEADER SECTION ***************/
header {
    width: 100%;
    height: 8.5rem;
    padding: 2.5rem;
}

.logo {
    height: 3.5rem;
    margin-right: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    flex-grow: 1;
}

.nav-ul li {
    list-style: none;
    padding: 0 .5rem;
}

.nav-ul li a,
.login a:first-child {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--very-dark-blue);
}

.login a:first-child {
    margin-right: 1.5rem;
}

.nav-ul li a:hover,
.login a:hover:first-child {
    color: (var(--very-dark-blue));
}

.u-login {
    display: none;
}

.btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--cyan);
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 5rem;
    opacity: 1;
    transition: all .3s;
}

.btn:hover {
    opacity: .8;
}


/************** INTRO SECTION  ***************/
/************** INTRO SECTION  ***************/
/************** INTRO SECTION  ***************/
.intro-section {
    overflow: hidden;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.intro-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;

}

.intro-text .u-mb-medium {
    font-size: 2rem;
}

.intro-text h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: var(--very-dark-blue);

}

.intro-text h3 {
    color: var(--very-dark-blue);
}


.intro-text span {

    color: var(--text-color);
    font-size: 4.5rem;
    line-height: 4.5rem;

}


.btn-large {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.2rem 3.5rem;
}

.btn-large:hover {
    box-shadow: 0 0 5px;

}

.intro-image {
    width: 45%;
    justify-content: right;
}

.intro-image img {
    width: 100%;
}

.intro-ics a {
    display: inline-flex;
    font-size: 20px;
    justify-content: center;
    background-color: transparent;
    color: var(--text-color);
    margin: 1.6rem 0.8rem;
    text-decoration: none;
    align-items: center;
    border: solid 2px #0678b4;
    border-radius: 50%;
    font-size: 20px;
    padding: 0.4rem;
}



/************** ABOUT SECTION  ***************/
/************** ABOUT SECTION  ***************/
/************** ABOUT SECTION  ***************/

.about {
    display: flex;
    justify-content: space-between;

}

.about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;

}

.about-text .u-mb-medium {
    font-size: 2rem;
}

.about-text h1,
h2,
h4 {
    color: var(--very-dark-blue);
}

.about-img {
    width: 45%;

}

.about-img img {
    width: 100%;
}

.btn-large {
    align-items: self-start;
}


/************** SKILLS SECTIONS ***************/
/************** SKILLS SECTIONS ***************/
/************** SKILLS SECTIONS ***************/
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}

.sub-title span {
    color: var(--text-color);
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 0px 90px;
    margin-left: 120px;
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.technical-bars .bar {
    margin: 10px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line span {
    height: 100%;
    background-color: var(--text-color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    /* example of combining transform properties */
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 40%;
}

/************** MEDIA QUERIES ***************/
/************** MEDIA QUERIES ***************/
/************** MEDIA QUERIES ***************/



/* TABLET SIZED DEVICES*/
@media screen and (max-width:985px) {

    /*INTRO SECTION*/
    .intro-text {
        width: 50%;
    }

    .intro-text h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
}

/* MOBILE RESPONSIVE QUERIES */
@media screen and (max-width:730px) {
    header {
        height: 9rem;
    }

    .logo {
        margin: 0;
    }

    .login,
    .btn {
        display: none;
    }

    nav {
        display: block;
        text-align: center;
    }

    .nav-ul {
        justify-content: center;
    }

    .u-login {
        display: inline;
    }

    .intro {
        flex-direction: column-reverse;

    }

    .intro-image {
        padding-bottom: 4rem;
    }

    .intro-text {
        display: block;
        width: 100%;
        text-align: center;
        padding: 4rem 0;
    }

}


/************** INSECTION MAIN ***************/
/************** SECTION MAIN ***************/
/************** SECTION MAIN ***************/


/************** PROJECTS SECTION ***************/
.projects-section {
    padding: 2rem 0;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.project-item {
    width: 30%;
    margin: 10px 10px 10px 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-info {
    text-align: center;
    margin-top: 1rem;
}

.project-info h3 {
    margin-bottom: 1.5rem;
    color: var(--very-dark-blue);
}

.btn-github {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--cyan);
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 5rem;
    transition: all 0.3s;
}

.btn-github:hover {
    opacity: 0.8;
}

.project-preview {
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
}

.project-preview iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: -30px;
    font-size: 20px;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: all 0.3s;
}

.close-btn:hover {
    background-color: var(--dark-grey);
    color: var(--cyan);
}