/* Globale Styles */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
body{
    width: 100%;
}
p{
    font-size: 1.6rem;
    color :var(--grayish-violet);
    line-height: 1.6;
}
section{
    padding: 5rem 0;
}
.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}
:root{
    --cyan: #0678b4;
    --text-color: #0ba7fc;
    --gray: hsl(0, 0%, 75%);
    --dark-grey: #EFF1F7;
    --grayish-violet: hsl(260, 7%, 59%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;
}
/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}


/************** HEADER SECTION ***************/
/************** HEADER SECTION ***************/
/************** HEADER SECTION ***************/
header{
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem;
}
.logo{
    height: 3.5rem;
    margin-right: 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    display: flex;
    flex-grow: 1;
}
.nav-ul li {
    list-style: none;
    padding: 0 .5rem;
}
.nav-ul li a,
.login a:first-child{
  font-size: 1.3rem; 
  text-decoration:none;
  color: var(--dark);
}
.login a:first-child{
    margin-right: 1.5rem;
}
.nav-ul li a:hover,
.login a:hover:first-child
{
color: (var(--cyan));
}
.u-login{
    display: none;
}
.btn{
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--cyan);
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 5rem;
    opacity: 1;
    transition: all .3s;
}
.btn:hover{
    opacity: .8;
}


/************** INTRO SECTION  ***************/
/************** INTRO SECTION  ***************/
/************** INTRO SECTION  ***************/
.intro-section{
    overflow: hidden;
}
.intro{
    display: flex;
    justify-content: space-between;
}
.intro-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
}

.intro-text h1{
    font-size: 4.5rem;
    line-height: 4.5rem;

}

 
.intro-text span{
    
    color: var(--text-color);
    font-size: 4.5rem;
    line-height: 4.5rem;
 
}


.btn-large{
    font-size:1.6rem;
    font-weight: 700;
    padding: 1.2rem 3.5rem;
}
.btn-large:hover{
    box-shadow: 0 0 5px ;

}
.intro-image{
    width: 45%;
    justify-content: right;
}
.intro-ics a{
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  background-color: transparent;
  color: var(--text-color);
  margin: 1.6rem 0.8rem ;
  text-decoration: none;
  align-items: center;
  border: solid 2px #0678b4;
  border-radius: 50%;
  font-size: 20px;
  padding: 0.4rem;
}



/************** ABOUT SECTION  ***************/
/************** ABOUT SECTION  ***************/
/************** ABOUT SECTION  ***************/

.about{
display: flex;
justify-content: space-between;

}
.about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: start;

}

.about-img{
    width: 45%;
    
}
.btn-large{
    align-items: self-start;
}




/************** MEDIA QUERIES ***************/
/************** MEDIA QUERIES ***************/
/************** MEDIA QUERIES ***************/
/* TABLET SIZED DEVICES*/
@media screen and  (max-width:985px) {
    /*INTRO SECTION*/
    .intro-text{
        width: 50%;
    }
    .intro-text h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
}

/* MOBILE RESPONSIVE QUERIES */
@media screen and  (max-width:730px) {
    header{
        height: 9rem;
    }
    .logo{
        margin: 0;
    }
    .login,
    .btn{
        display:none;
    }
    nav{
        display: block;
        text-align: center;
    }
    .nav-ul{
        justify-content: center;
    }
    .u-login{
        display: inline;
    }
    .intro{
        flex-direction: column-reverse;
        
    }
    .intro-image{
        padding-bottom: 4rem;
    }
    .intro-text{
       display: block;
       width: 100%;
       text-align: center;
       padding: 4rem 0; 
    }
  
}


/************** INSECTION MAIN ***************/
/************** SECTION MAIN ***************/
/************** SECTION MAIN ***************/

